<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
        <link href="https://unpkg.com/nes.css@latest/css/nes.min.css" rel="stylesheet" />
        <link href="static/css/style.css" rel="stylesheet" />
        <script src="static/js/countdown.js"></script>
        <title>Wait Room</title>
    </head>
    <body>
        <div id="nescss">
            <header :class="{ sticky: scrollPos > 50 }">
              <div class="container">
                    <div class="nav-brand">
                        <h1><i class="nes-kirby brand-logo"></i>Wait Room</h1>
                        <p>Just a wait page for you</p>
                    </div>
                    <div>
                        <img src="static/img/wedo-logo.png" width="64" height="64">
                    </div>
                </div>
              </div>
            </header>

            <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
            <div class="container">
                <main class="main-content">                    
                    <section class="topic">
                        <div class="nes-container with-title is-centered is-error">
                            <p class="title"><span class="nes-text is-success">{{MESSAGE_TITLE}}</span></p>
                            <p>{{MESSAGE_CONTENT}}</p>
                            {% if COUNTDOWN %}
                            <div id='tiles' class="tilenumber"></div>
                            <script>
                                startCountdown({{COUNTDOWN}}, {{REDIRECT | safe}});
                            </script>
                            {% endif %}
                            <script>
                                var xhr = new XMLHttpRequest();
                                xhr.open('GET', '{{ url_for('stream') }}');
                                xhr.send();
                            
                                setInterval(function() {
                                    var output = document.getElementById('log');
                                    output.textContent = xhr.responseText;
                                }, 1000);
                            </script>
                            <label for="log">Training log</label>
                            <textarea id="log" name="log" class="nes-textarea" disabled></textarea>
                          </div>
                    </section>
                </main>
                <br/>
                

            </div>
        </div>
    </body>
</html>
